.main{
  background-color: lightgray;
  margin-left: 30%;
  margin-right: 30%;
  border-style: solid;
  font-size: large;

}
.main>*{

  margin-top: 10px;
}
.EditGen{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;

}


.center{
  text-align: center;
  
}

.submitbtn{
  background-color: lightgreen;
 
 

}

.Geninfo{
  font-size: 24px;
  margin-left: 4%;
  display: grid;
  grid-template-columns: 1fr 0.025fr;
  
}
.textarea{
  grid-column: span 2; 
}
input, label {
  display:block;
}

input{
  margin-left: auto;
  margin-right: auto;
}

.Addbtn{
  background-color: aqua;
  display:block;
  margin-top: 10px;
  margin-left: 25px;
}

.Deletebtn{
  background-color: coral;
  display: inline;
}
.thebtns{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}